<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- 引入bootstrap的css -->
<link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
<link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">
<!-- 引入jquery的js -->
<script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入bootstrap的js -->
<script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.js"></script>

<!-- 引入boostrap的表格的css、js -->
<link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
<script type="text/javascript" src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!-- 引入bootbox弹框的js -->
<script type="text/javascript" src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>

<!-- 引入bootstrap的日期的css、js -->
<link rel="stylesheet" href="../js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="../js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- 引入fileinput 文件上传的 css、js -->
<link rel="stylesheet" href="../js/bootstrap/bootstrap-fileinput/css/fileinput.css">
<script type="text/javascript" src="../js/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
<body>
<div id="toolbar">
    <form class="form-inline">
        <div  class="form-group">
            <label>手机名称：</label>
            <input class="form-control" id="name">
        </div>
        <div  class="form-group">
            <label>上架时间：</label>
            <input class="form-control date" id="sdate">---
            <input class="form-control date" id="edate">
        </div>
        <button onclick="search()" class="btn btn-primary glyphicon glyphicon-search" type="button">搜索</button>
        <button onclick="del()" class="btn btn-primary glyphicon glyphicon-trash" type="button">批删</button>
        <button onclick="add()" class="btn btn-primary glyphicon glyphicon-plus" type="button">新增</button>
    </form>
</div>
<table class="table" id="myTable"></table>
</body>
<script>
    $(function(){
        initUserTable();
        $('.date').datetimepicker({
            language: 'zh-CN',//显示中文
            //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
            //minView: "day",//设置只显示到月份
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),//初始化当前日期
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        });
    })
    //初始化用户列表
    function initUserTable() {
        $('#myTable').bootstrapTable({
            toolbar: '#toolbar',//工具栏
            url: '../phone/queryPhone',//获取数据地址
            pagination: true, //是否展示分页
            pageList: [2, 4, 6, 10],//分页组件
            pageNumber: 1,//默认页码
            pageSize: 2,//默认每页条数
            sidePagination: 'server',//分页方式：client客户端分页，server服务端分页（*
            striped: true,//斑马线
            queryParams: function () {
                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
                    name:$("#name").val(),
                    sdate:$("#sdate").val(),
                    edate:$("#edate").val()
                };
            },
            columns: [
                {field: "checkbox", checkbox: true},
                {field: "id", title: "id"},
                {field: "name", title: "手机名称"},
                {field: "type", title: "手机类型", formatter: function (value, row, index) {
                        if (row.type == 1) {
                            return "老年机";
                        } else if (row.type == 2) {
                            return "智能机";
                        }
                    }},
                {field: "price", title: "手机价格"},
                {field: "date", title: "上架时间"},
                {
                    field: "tool", title: "操作", formatter: function (value, row, index) {
                        return "<a href='javascript:openUpdate(" + row.id + ")'>修改</a>" + " | " +
                            "<a href='javascript:del(" + row.id + ")'>删除</a>"

                    }
                }
            ]
        });
    }
    //条查
    function search() {
        $('#myTable').bootstrapTable('refresh');
    }
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,//同步
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    //新增
    function  add() {
        bootbox.dialog({
            title:'新增商品',
            message: createAddContent("../page/addOrUp"),
            closeButton: true,
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {//回调函数
                        //提交表单
                        $.ajax({
                            url:"../phone/addOrUp",
                            type:'post',
                            data:$("#goodForm").serialize(),//表单序列化
                            success:function(data){
                                alert("success")
                                //刷新表格
                                $('#myTable').bootstrapTable('refresh');
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger"
                }
            }

        });
    }
    //修改
    function openUpdate(id) {
        bootbox.dialog({
            title:'修改商品',
            message: createAddContent("../page/addOrUp"),
            closeButton: true,
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {//回调函数
                        //提交表单
                        $.ajax({
                            url:"../phone/addOrUp",
                            type:'post',
                            data:$("#goodForm").serialize(),//表单序列化
                            success:function(data){
                                alert("success")
                                //刷新表格
                                $('#myTable').bootstrapTable('refresh');
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger"
                }
            }

        });
        $.ajax({
            url:'../phone/byId',
            data:{id:id},
            type:"get",
            async:false,
            success:function (data) {
                $("#name2").val(data.name);
                $("#size").val(data.size);
                $("#id").val(data.id);
                $("#price").val(data.price);
                $("#date").val(data.date);
                $("input[name='type']").each(
                    function () {
                        if(this.value==data.type){
                            this.checked=true;
                        }
                    }
                )
            }
        })
    }
    //删除
    function del(id) {
        bootbox.confirm({
            size: "small",
            title: "提示",
            message: "是否确认删除？",
            buttons: {
                confirm: {
                    label: '确定',
                    className: 'btn-success'
                },
                cancel: {
                    label: '取消',
                    className: 'btn-danger'
                }
            },
            callback: function(result){
                if(result){//删除
                    //调用ajax请求后台，回调刷新表格
                    $.ajax({
                        url:"../phone/delAll",
                        data:{ids:id},
                        type:"delete",
                        success:function(data){
                            alert("删除成功")
                            $('#myTable').bootstrapTable("refresh");
                            //刷新表格:有条查调用条查，没有条查自己写refresh方法

                        }
                    })
                }
            }
        })
    }
</script>
</html>